@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'sal.js/dist/sal.css';

// 滚动条美化
* {
  /*滚动条宽或高*/
  &::-webkit-scrollbar {
    width: 5px;
    height: 1px;
  }

  /*正常情况下滑块的样式*/
  &::-webkit-scrollbar-thumb {
    background-color: #070f205e;
    border-radius: 3px;
  }

  /*鼠标悬浮在该类指向的控件上时滑块的样式*/
  &:hover::-webkit-scrollbar-thumb {
    background-color: #6a70805e;
    border-radius: 3px;
  }

  /*鼠标悬浮在滑块上时滑块的样式*/
  &::-webkit-scrollbar-thumb:hover {
    background-color: #0814305e;
    border-radius: 3px;
  }

  /*正常时候的主干部分*/
  &::-webkit-scrollbar-track {
    border-radius: 5px;
    background: transparent;
  }

  /*鼠标悬浮在滚动条上的主干部分*/
  &::-webkit-scrollbar-track:hover {
    background-color: transparent;
  }
}

// @import url('https://fonts.googleapis.com/css?family=Bubblegum+Sans&display=swap');
@import './media.scss';

body {
  font-family: cursive;
}

.el-pagination {
  width: min-content;
  justify-content: center;
  padding: 10px 15px;
  border-radius: 30px;
  background-color: var(--home-box-background-color);
  margin: 0 auto;
}

.el-pagination.is-background .el-pager li {
  background: none;
}

.el-pagination.is-background .el-pager li:not(.is-disabled).is-active {
  border-radius: 16px;
}

.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev {
  border-radius: 16px;
  font-weight: 700;
  background-color: transparent;
}

.el-pagination.is-background .btn-next:disabled,
.el-pagination.is-background .btn-prev:disabled {
  border-radius: 16px;
  background-color: transparent;
}

.glitch {
  span {
    &:not(:last-child) {
      --ratio: calc(100% / var(--slice-count));
      --top: calc(var(--ratio) * (var(--i) - 1));
      --bottom: calc(var(--ratio) * (var(--slice-count) - var(--i)));

      position: absolute;
      white-space: nowrap;
      clip-path: inset(var(--top) 0 var(--bottom) 0);
      animation-duration: 0.3s;
    }

    &:nth-child(odd) {
      animation-name: slide-from-left;
    }

    &:nth-child(even) {
      animation-name: slide-from-right;
    }

    &:last-child {
      opacity: 0;
      animation: reveal steps(1) forwards;
      animation-delay: 0.6s;
    }
  }
}


.imgLoading {
  width: 150px;
  height: 150px;
  color: rgba(255, 255, 255, 0);
}

@keyframes slide-from-left {
  from {
    transform: translateX(-20%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(20%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes reveal {
  to {
    opacity: 1;
  }
}